extends layout

block content

  h1= title
  
  p #[strong 你确定真的要删除当前藏书副本吗?]
  
  div(style="margin-left:20px")

    p #[strong ID]: #{bookinstance._id}
  
    p #[strong 藏书:] 
      a(href=bookinstance.book.url) #{bookinstance.book.title}
    
    p #[strong 出版社:] #{bookinstance.imprint}

    p #[strong 当前状态:] 
      if bookinstance.status=='可供借阅'
        span.text-success #{bookinstance.status}
      else if bookinstance.status=='馆藏维护'
        span.text-danger #{bookinstance.status}
      else
        span.text-warning #{bookinstance.status} 
      
    if bookinstance.status!='可供借阅'
      p #[strong 归还日期:] #{bookinstance.due_back_formatted}

  form(method='POST' action='')
    div.form-group
      input#id.form-control(type='hidden',name='id', required='true', value=bookinstance._id )

    button.btn.btn-primary(type='submit') Delete