extends layout

block content

  h1 删除该种类: #{genre.name}
  
  if genre_books.length
  
    p #[strong 在试图删除该种类之前请先删除与其相关联的藏书.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 藏书
    
      dl
      each book in genre_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

  else
    p 你已经确定想要删除该种类？
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=genre._id )

      button.btn.btn-primary(type='submit') Delete